# .gitignore

# System files
.DS_Store

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.so
*.egg
*.egg-info/
dist/
build/
*.pyd
*.so

# Jupyter files
.ipynb_checkpoints/
*.ipynb

# Virtual environments
venv/
*.venv
*.vpy
*.vbw

# Spyder project settings
.spyderproject
.spyproject

# VS Code settings
.vscode/
